using McMaster.Extensions.CommandLineUtils;
using McMaster.Extensions.CommandLineUtils.HelpText;
using System.ComponentModel.DataAnnotations;
using System.Security.Cryptography;
using System.IO;

namespace Itn.SnkUtils
{
    [Command]
    [HelpOption]
    class @Model.ClassName
    {
        public void OnExecute()
        {

        }
    }
}